@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
        @apply hind-guntur-medium text-slate-700 bg-slate-200;
    }

    h1 {
        @apply text-[30px] hind-guntur-medium;
    }

    h2 {
        @apply text-[24px] hind-guntur-medium;
    }

    h3 {
        @apply text-[20px] hind-guntur-medium;
    }

    h4 {
        @apply text-[16px] hind-guntur-medium;
    }


    a {
        @apply text-sky-500 hover:text-sky-300
    }

}

@layer components {

    /* navbar */
    nav {
        @apply bg-green-700 p-2 px-7;
    }

    nav ul {
        @apply p-1 text-right
    }

    nav ul a {
        @apply text-white
    }

    nav ul li {
        @apply inline-block px-1 mr-1 text-white hover:bg-slate-200 hover:text-slate-700 hover:underline
    }

    nav ul li.active {
        @apply underline;
    }

    nav ul li.btn {
        @apply bg-green-700
    }

    nav ul li.btn button {
        @apply text-white rounded px-2 text-[16px]
    }

    /* end navbar */

    /* aside */
    aside {
        @apply h-full min-h-[700px];
    }

    aside div.profile {
        @apply p-2;
    }

    aside ul a {
        @apply text-white;
    }

    aside ul li {
        @apply px-2 py-1 border-l-4 border-slate-600 hover:border-green-500 hover:text-white hover:bg-slate-700;
    }

    aside ul li.btn {
        @apply hover:bg-slate-600 hover:border-slate-600;
    }

    aside ul li.btn button {
        @apply rounded-sm text-[13px] bg-red-500 px-2 py-1 text-white w-full hover:bg-red-600
    }

    aside ul li.active {
        @apply border-green-500 bg-slate-700
    }

    /* end aside */

    /* box */
    .box {
        @apply bg-white p-4 shadow-md mb-2
    }

    .box .box-title {
        @apply mb-4
    }

    /* end box */

    /* table */
    table.table-simple {
        @apply border border-slate-300 border-collapse w-full
    }

    table.table-separate {
        @apply border border-slate-300 border-separate w-full
    }

    table tr th, table tr td {
        @apply px-2 py-1 border border-slate-300
    }

    /* end table */

    /* form */
    div.form-group {
        @apply mb-3 ;
    }

    div.form-group input,
    div.form-group select,
    div.form-group textarea {
        @apply block border border-slate-300 px-2 py-1 w-full outline-none text-[14px] focus:border-blue-400 bg-slate-50
    }

    div.form-group p.error {
        @apply text-red-500 italic
    }

    .btn-primary {
        @apply bg-blue-500 hover:bg-blue-400 focus:bg-blue-300 text-white py-1 px-2
    }
    
    .btn-danger {
        @apply bg-red-500 hover:bg-red-400 focus:bg-red-300 text-white py-1 px-2
    }

    .btn-info {
        @apply bg-gray-400 hover:bg-gray-300 focus:bg-gray-200 text-white py-1 px-2 
    }

    .btn-success {
        @apply bg-green-600 hover:bg-green-500 focus:bg-green-400 text-white py-1 px-2
    }
    /* end form */

    /* alert */
    div.alert-danger {
        @apply bg-red-100 text-red-500 border-l-4 border-red-500 p-2 shadow-md mb-2
    }

    div.alert-success {
        @apply bg-green-100 text-green-500 border-l-4 border-green-500 p-2 shadow-md mb-2
    }

    div.alert-danger div,
    div.alert-success div {
        @apply flex justify-end
    }
    
    div.alert-danger div button {
        @apply btn-danger w-[100px] text-[12px]
    }

    div.alert-success div button {
        @apply btn-success w-[100px] text-[12px]
    }
    
    /* end alet */
}

@layer utilities {

    /* background colors */
    .bg-primary {
        @apply bg-sky-500
    }

    .bg-primary-dark {
        @apply bg-sky-700;
    }

    .bg-primary-light {
        @apply bg-sky-300;
    }

    .bg-secondary {
        @apply bg-slate-500;
    }

    .bg-secondary-dark {
        @apply bg-slate-700;
    }

    .bg-secondary-light {
        @apply bg-slate-300;
    }

    .bg-success {
        @apply bg-green-600;
    }

    .bg-success-dark {
        @apply bg-green-800;
    }

    .bg-success-light {
        @apply bg-green-400;
    }

    .bg-danger {
        @apply bg-red-500;
    }

    .bg-danger-dark {
        @apply bg-red-700;
    }

    .bg-danger-light {
        @apply bg-red-300;
    }

    .bg-warning {
        @apply bg-yellow-400;
    }

    .bg-warning-dark {
        @apply bg-yellow-600;
    }

    .bg-warning-light {
        @apply bg-yellow-200;
    }

    /* end background colors */


    /* text color */
    .text-primary {
        @apply text-sky-500
    }

    .text-secondary {
        @apply text-slate-500;
    }

    .text-success {
        @apply text-green-600;
    }


    .text-danger {
        @apply text-red-500;
    }


    .text-warning {
        @apply text-yellow-400;
    }

    /* end text color */


    /* border color */
    .border-primary {
        @apply border-sky-500
    }

    .border-primary-dark {
        @apply border-sky-700;
    }

    .border-primary-light {
        @apply border-sky-300;
    }

    .border-secondary {
        @apply border-slate-500;
    }

    .border-secondary-dark {
        @apply border-slate-700;
    }

    .border-secondary-light {
        @apply border-slate-300;
    }

    .border-success {
        @apply border-green-600;
    }

    .border-success-dark {
        @apply border-green-800;
    }

    .border-success-light {
        @apply border-green-400;
    }

    .border-danger {
        @apply border-red-500;
    }

    .border-danger-dark {
        @apply border-red-700;
    }

    .border-danger-light {
        @apply border-red-300;
    }

    .border-warning {
        @apply border-yellow-400;
    }

    .border-warning-dark {
        @apply border-yellow-600;
    }

    .border-warning-light {
        @apply border-yellow-200;
    }

    /* end border color */


    /* font */
    .hind-guntur-light {
        font-family: "Hind Guntur", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .hind-guntur-regular {
        font-family: "Hind Guntur", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .hind-guntur-medium {
        font-family: "Hind Guntur", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .hind-guntur-semibold {
        font-family: "Hind Guntur", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .hind-guntur-bold {
        font-family: "Hind Guntur", sans-serif;
        font-weight: 700;
        font-style: normal;
    }



}